<%- include("header.html")%>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>修改数据</h2>
    </div>
</div>
<!-- 表单    -->
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form action="/admin/movies/add" method="post" class="form-horizontal">
            <div class="form-group">

                <label class="col-sm-2 control-label"><label id="movieIdLabel"></label>电影Id</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="movieId" id="movieId">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">电影名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">电影别称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nailName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">图片</label>
                <div class="col-sm-10">
                    <input type="file" id="img">
                    <input type="hidden" name="img">
                    <img src="/uploads/uploads.jpg" alt="" width="200" height="200">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="type">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">国家</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="country">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">电影评分</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="score">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">片长</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="totalTime">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上映时间</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="date" min="<%=nowDate%>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">简介</label>
                <div class="col-sm-10">
                    <textarea name="content" id="" data-provide="markdown" cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-success" type="submit">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("footer.html")%>

<script>
    $(function () {
        //原来的图片
        var oldimg = $("#oldimg").val();
        $("#img").change(function () {
            var file = $(this)[0];//jq=>js
            var formData = new FormData();
            formData.append("file", file.files[0])
            formData.append("oldimg", oldimg)
            var _this = $(this);
            $.ajax({
                url: "/admin/movies/upload",
                type: "post",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //图片提交成功，提交成功图片路径
                    oldimg = data.url
                    _this.next().val(data.url).next().attr("src", data.url)
                }
            })
        })
        //电影id
        $('#movieId').change(function (event) {
            var _this = $(this)
            $.ajax({
                url: '/admin/movies/findMovieId',
                method: 'post',
                dataType: 'json',
                data: {
                    movieId: _this.val(),
                },
                success: function (result) {
                    if(result.code == 201){
                        $('#movieIdLabel').text('该Id已存在').css('color', 'red')
                    }else{
                        $('#movieIdLabel').text('')
                    }
                }
            })
        })
    })
</script>